@import '../styles/global.scss';

.follow_request_list {
    min-height: 300px;
    width: 30%;
    min-width: 300px;
    position: fixed;
    right: 1px;
    top: 41px;
    background-color: white;
    border: 1px solid $color-border;
}