@import '../../styles/global.scss';

.comment_form {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    & input {
        width: 100%;
        height: 30px;
        font-size: 14px;
        border-radius: 15px;
        border: 1px solid $color-border;
        outline: none;
        padding-left: 10px;
        background-color: $color-background;
    }
}