.comment {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;    
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #eef2f7;
}

.comment_body {
    position: relative;
    background-color: #eef2f7;
    border-radius: 15px;
    padding: 5px 10px;
    margin-bottom: 20px;
    & * {
        display: inline-block;
        line-height: 25px;
        margin: 0;
        padding: 0;
    }
}

.time {
    position: absolute;
    left: 10px;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    bottom: -18px;
    color: #666;
}
