@import '../../styles/global';

.profile_header {
    @include card;
    padding: 40px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    & button {
        background-color: $color-primary;
        color: white;
        cursor: pointer;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        height: 40px;
        font-size: 14px;
        float: right;
    }
}