<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
        <meta name="description" content="">
        <meta property="og:url" content=""/>
        <meta property="og:title" content="Social Network"/>
        <meta property="og:description" content=""/>
        <meta property="og:image" content=""/>
        
        <meta name="twitter:card" content=""/>
        <meta name="twitter:title" content=""/>
        <meta name="twitter:description" content=""/>
        <meta name="twitter:image" content="" />
        <title>Social Network</title>
        <link rel="stylesheet" href="/stylesheets/dist/main.css">
    </head>
    <body>
        <%- include ../partials/header.ejs -%>
        <main></main>
        <%- include ../partials/footer.ejs -%>
        <script src="/js/bundle.js"></script>
    </body>
</html>
