@import '../../styles/global.scss';

.post_form {
    @include card;
    & label {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        background-color: #f5f6f7;
        border-radius: 5px 5px 0 0;
        font-size: 12px;
    }
    & div {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        & input {
            border: none;
            outline: none;
            line-height: 50px;
            padding-left: 10px;
            font-size: 16px;
            border-radius: 0 0 5px 5px;
            width: 100%;
        }
    }   
}