@import '../../styles/global.scss';

.comment_list_toggle {
    padding: 10px;
    color: $color-text-light;
    font-size: 12px;
    & span:hover {
        cursor: pointer;        
        text-decoration: underline;        
    }
}