.post_form {
    display: block;
    width: 90%;
    max-width: 700px;
    margin: 0 auto 5% auto;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    & label {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        background-color: #f5f6f7;
        border-radius: 5px 5px 0 0;
        font-size: 12px;
    }
    & div {
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        & input {
            border: none;
            outline: none;
            line-height: 50px;
            padding-left: 10px;
            font-size: 16px;
            border-radius: 0 0 5px 5px;
            width: 100%;
        }
    }
    
}

@media(min-width: 768px) {
    .post_form {
        margin: 0 auto 40px auto;       
    }
}