@import '../../styles/global.scss';

.comment {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 10px 0px 10px;  
}

.comment_body {
    position: relative;
    background-color: $color-background;
    border-radius: 15px;
    padding: 0px 10px;
    margin-bottom: 20px;
    font-size: 14px;
    & a {
        color: $color-link;
    }
    & * {
        display: inline-block;
        line-height: 30px;
        margin: 0;
        padding: 0;
    }
}

.time {
    left: 10px;
    position: absolute;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    bottom: -18px;
    color: $color-text-light;
}

.delete {
    position: absolute;
    top: 7px;
    right: -18px;
    height: 16px;
    cursor: pointer;
}
