.auth_form {
    background-color: white;
    padding: 40px 5%;
    border: 1px solid #ddd;
    width: 90%;
    max-width: 700px;
    margin: auto;
    & h1 {
        margin-top: 0px;
    }
    & input {
        display: block;
        width: 100%;
        border: 1px solid #ddd;
        height: 30px;
        margin-bottom: 20px;
        line-height: 30px;
        padding-left: 5px;
        font-size: 14px;
    }
    & label {
        display: block;
        color: #333;
        font-size: 12px;
        margin-bottom: 5px;
        &::after {
            content: ' *';
            color: red;
        }
    }
    & button[type=submit] {
        background-color: green;
        padding: 10px 30px;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        outline: none;
        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

.validation_err_msg {
    color: red;
    font-size: 12px;
    float: right;
    margin-top: -15px;
}

.message {
    width: 100%;
    background-color: rgba(255,0,0,0.5);
    border: 1px solid red;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
}