@import '../../styles/global.scss';

.post {
    @include card;
}

.post_header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.name {
    font-size: 16px;
    color: $color-link;
    font-weight: 500;
    display: block;
}

.time {
    font-size: 12px;
    color: $color-text-light;
}

.delete {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.post_body {
    border-bottom: 1px solid $color-border;
    padding: 10px 10px 20px 10px;
    margin: 0px;
}