@import '../styles/global.scss';

.search_results {
    width: 100%;
    margin: auto;
}

.search_result {
    @include card;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & a {
        color: $color-link;
    }
}

.no_results {
    @include card;
    padding: 20px;
}