.post {
    display: block;
    width: 90%;
    max-width: 700px;
    margin: 5% auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

@media(min-width: 768px) {
    .post {
        margin: 40px auto;
    }
}

.post_header {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
    & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.name {
    font-size: 16px;
    color: #365899;
    font-weight: 500;
    display: block;
}

.time {
    font-size: 12px;
    color: #666;
}

.post_body {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 20px 10px;
    margin: 0px;
}